:root{
  --vermelho: rgb(155, 0, 0);
  --cinza: rgb(169, 169, 169);
  --cinza2: rgb(222, 222, 222);
}

.bg-body-red{
  background-color: var(--vermelho);
}

.bg-body-gray{
  background-color: var(--cinza);
}

.bg-body-gray2{
  background-color: var(--cinza2);
}

