.btn-menu>li{
  background-color: rgb(28, 28, 28);
  margin: 10px 4px;
  padding: 2px 8px;
  font-size: 18px;
  border-radius: 10px;
  width: fit-content;
  list-style: none;
}

a{
  text-decoration: none;
  color: aliceblue;
}

.heightfim{
  height: max-content;
}