@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #00319c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary: #9c0000;
  }
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
